<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

</head>

<style type="text/css">
	.container{
		margin: 10px;
		margin-bottom: 10px;
	}
</style>

<body style="background-color: black; height: 100%; width: 100%">


	<h1 style="color: white; text-align: center"><span style="color: red">COVID-19</span> WORLDWIDE DATA</h1>

	<form style="margin-top: 50px;" method="post" class="d-flex justify-content-center align-items-center" action="">
		{% csrf_token %} 
		<select class="form-control" style="width: 200px" name="selected_country"> 
			{% for country in mylist%}
			<option value="" selected disabled hidden>Choose Country</option>
			<option>{{country}}</option>
			{% endfor %}
		</select>
		<label for="start" style="margin-left: 20px; margin-right: 20px;color: white">Start date:</label>

		<input type="date" id="start" name="trip-start" value="2021-01-01" min="2021-01-01" max="2022-01-31">

		<label for="end" style="margin-left: 20px; margin-right: 20px;color: white">End date:</label>

		<input type="date" id="end" name="trip-end" value="2021-01-07" min="2021-01-01" max="2022-01-31">

		<input style="margin-left: 10px;" type="submit" class="btn btn-danger" name="">
	</form>

	<h1 style="margin-top: 120px; color:white; text-align: center">{{selected_country}}</h1>

	<div class="d-flex justify-content-center align-items-center">
		<div class="container" style="border-radius: 10px; background-color: orange; height:100px; width:220px">
			<h4 style="text-align: center">Total Cases</h4>
			<h1 style="text-align: center">{{total}}</h1>
		</div>
		<div class="container" style="border-radius: 10px; background-color: green; height:100px; width:220px">
			<h4 style="text-align: center; color: white">Recovered</h4>
			<h1 style="text-align: center; color: white">{{recovered}}</h1>
		</div>
		<div class="container" style="border-radius: 10px; background-color: yellow; height:100px; width:220px">
			<h4 style="text-align: center">Active Cases</h4>
			<h1 style="text-align: center">{{active}}</h1>
		</div>
	</div>

	<div class="d-flex justify-content-center align-items-center">
		<div class="container" style="border-radius: 10px; background-color: skyblue; height:100px; width:220px">
			<h4 style="text-align: center">New Cases</h4>
			<h1 style="text-align: center">{{new}}</h1>
		</div>
		<div class="container" style="border-radius: 10px; background-color: grey; height:100px; width:220px">
			<h4 style="text-align: center; color: white">Total Deaths</h4>
			<h1 style="text-align: center; color: white">{{deaths}}</h1>
		</div>
		<div class="container" style="border-radius: 10px; background-color: red; height:100px; width:220px">
			<h4 style="text-align: center; color: white">Critical Cases</h4>
			<h1 style="text-align: center; color: white">{{critical}}</h1>
		</div>
	</div>

	<div class="chart-container" style="position: relative; margin: 0 auto; height:40vh; width:80vw">
		<canvas id="myChart" style="margin-top: 150px;"></canvas>
		<script>

		const ctx = document.getElementById('myChart').getContext('2d');
		const myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: [{% for item in days %}'{{item}}',{% endfor %}],
		        datasets: [{
		            label: 'Number of Active Cases',
		            data: [{% for item in active_cases %}'{{item}}',{% endfor %}],
		            backgroundColor: [{% for item in days %} 'rgba(255, 205, 86, 0.2)',{% endfor %}],
		            borderColor: [{% for item in days %} 'rgb(255, 205, 86)',{% endfor %}],
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            y: {
		                beginAtZero: true
		            }
		        }
		    }
		});
	
		</script>
	</div>

	<p style="margin-top: 450px; color: grey; text-align: center"> Developed By <span style="color: white;">Bogdan Badea</span></p> 

</body>
</html>